@import url("https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans");

@font-face {
    font-family: Black;
    src: url('/assets/fonts/Montserrat-800-Black.otf');
}

@font-face {
    font-family: Medium;
    src: url('/assets/fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: Regular;
    src: url('/assets/fonts/Montserrat-400-Regular.otf');
}

html {
    overflow-x: hidden;
}
a{
    target-name:new;
}
textarea{
   resize: vertical;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*overflow-x: hidden;*/
    background: #fff;
    /*align-content: center;*/
    font-family: 'Medium';
}

.textlimit {
    float: right;
}

.herofont {
    padding-top: 22px;
    font-size: 15px;
    font-family: 'Medium';
    line-height: 1.4;
    color: #fff;
}

h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    font-family: 'Black';
}

h6 {
    font-size: 12px;
    color: #000;
    font-family: 'Medium';
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: none;
}

p {
    /*font-weight: 400;*/
    /*font-family: 'Medium';*/
    margin-top: 40px;
    font-size: 16px;
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
    font-size: 16px;
    font-family: 'Medium';
}
a:not([href]):not([tabindex]) {
    color: #fff;
}

/*For What we do and belowe*/
.section-header h5 {
    font-size: 12px;
    /*font-family:'Regular';*/
    color: #9EA0A4;
    font-weight: 400;
}

.section-header {
    padding-bottom: 50px;
}

.section-title {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 26px;
    font-family: 'Medium';
    color: #000;
    display: inline-block;
    position: relative;
}

.shape {
    height: 1px;
    margin: 0 auto 30px;
    position: relative;
    width: 60px;
    background-color: #F63854;
}

.padding-none {
    padding: 0px;
}

.bg-gray {
    background: #f9f9f9;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(61, 96, 244, 0.3);
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common {
    background-color: #F63854;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.btn-common:hover {
    color: #F63854;
    background: transparent;
    border: 1px dotted #F63854;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.btn-border {
    color: #F63854;
    background-color: transparent;
    border: 1px solid #F63854;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-border:hover {
    color: #fff;
    border-color: #F63854;
    background-color: #F63854;
}

.btn-border:focus {
    color: #fff;
    border-color: #F63854;
    background-color: #F63854;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    padding: 7px 0px;
    color: #F63854;
    text-transform: capitalize;
}

.btn-rm:hover {
    color: #F63854;
}

button:focus {
    outline: none !important;
}

.icon-close,
.icon-check {
    color: #F63854;
}

/* ScrollToTop */
a.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    text-decoration: none;
}

a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #5163ED !important;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover,
a.back-to-top:focus {
    text-decoration: none;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

.loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #5163ED;
}

#loader-1:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after {
    border: 7px solid #f2f2f2;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.section-padding {
    padding: 60px 0;
}

hr {
    border-top: 1px dotted #ddd;
}

/* Services Item */
#services{
    overflow: hidden;
}
.services-item {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 15px auto;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.08);
    /*background: #F63854;*/
    height: 435px;
    width: 320px;
    overflow: hidden;
}

.hidecontent {
    overflow: hidden;
}

.services-item-icon {
    padding-top: 30px;
}
.service-item-img{
    position: relative;
}
.service-item-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px;

}
.services-item .icon {
    /*border: 1px solid #f1f1f1;*/
    /*width: 70px;*/
    /*height: 70px;*/
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;

}

.services-item .icon i {
    font-size: 30px;
    color: #F63854;
    line-height: 70px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .services-content h3 {}

.services-content {
    word-wrap: break-word;
}

.services-content h3 {
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px 0px 10px;
    /*padding-top: 50px;*/
    /*padding-bottom: 10px;*/
    font-size: 20px;
    font-family: 'Medium';

}

.services-item .services-content p {
    /**/
}

.services-content p {
    /*font-size: 18px;*/
    padding-top: 20px;
    /*font-family: 'Medium';*/
    font-weight: 430;
    /*color:#000;*/
}

.services-item .services-content h3 a {
    color: #000;
}

.services-item .services-content h3 a:hover {
    color: #000;
    text-decoration: none;
}

.service-item-1:hover {
    background: linear-gradient(#E1F9B4, #83E4B1);
}

.service-item-2:hover {
    background: linear-gradient(#A9E5F0, #9EBAFC);
}

.service-item-3:hover {
    background: linear-gradient(#DFCBFE, #A79FF5);
}

.service-item-6:hover {
    background: linear-gradient(#FFDCE7, #FFB6E8);
}

.service-item-5:hover {
    background: linear-gradient(#FFF2BE, #FFBF85);
}

.service-item-4:hover {
    background: linear-gradient(#FFD5BF, #FF9894);
}

.services-item:hover .icon {
    background: #F63854;
}

.services-item:hover .icon i {
    color: #fff;
}

#service {
    position: relative;
}

.about-area .about-wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.about-area .about-wrapper>div {
    vertical-align: middle;
    display: table-cell;
}

.about-area img {
    border-radius: 4px;
}

.about-area .content {
    margin-top: 15px;
}

.about-area .content p {
    margin-bottom: 30px;
}

#cta {
    padding: 30px 0;
}

.navbar-brand {
    position: relative;
    padding: 0px;
}

.top-nav-collapse {
    background: #5163ED;
    z-index: 999999;
    padding: 5px !important;
    top: 0px !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    background: #5163ED !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

}

.top-nav-collapse .navbar-brand {
    top: 0px;
}

.top-nav-collapse .navbar-brand img {
    /*width: 70%;*/
}

.top-nav-collapse .navbar-nav .nav-link {
    /* color: #fff !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;*/
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #fff !important;
    border-color: #F63854 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    color: #5163ED !important;
}

.navbar-expand-md .navbar-toggler {
    /*background: #5163ED;*/
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-brand img {
    /*width: 70%;*/
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
    /*  color: #F63854 !important;
  border-color: #F63854;
 /* background-color: #fff;
 color: white;*/
}

.indigo {
    background: transparent;
    /*background:#000;*/
}

.menu-bg {
    background: transparent;
    /*background:#000;*/
}

.navbar {
    /*background-color: #5163ED;*/
    background-image: linear-gradient(to right top, #5b44e5, #5357e9, #4f67eb, #5176eb, #5883e9);

}

.navbar-expand-md .navbar-nav .nav-link i {
    margin-left: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-item {
    padding-left: 25px;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #fff;
    /*font-weight: 400;*/
    /*padding: 7px 0;*/
    cursor: pointer;
    position: relative;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1px 10px;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom:  7px;
    /*background-color: #5163ED;*/
}

.navbar-expand-md .navbar-nav .nav-link:before {
    /*background-color: #fff;*/
    /*content: '';
  display: block;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  width: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 1s;
  -ms-transition: width 1s;
  -webkit-transition: width 1s;*/
}

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active>a,
.navbar-expand-md .navbar-nav li a:focus {
    color: #fff;
    outline: none;
}

.navbar-expand-md .navbar-nav .active>.nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open>.nav-link {
    color: #5163ED;
    background-color: #fff;
    border-radius: 5px;
    /*padding-bottom: 4px;*/
   
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover::before{
    background-color: #fff;
    color: #5163ED;
    width: 100%;
    /*padding-bottom: 4px;*/
   
}

.navbar {
    padding: 10px 0;
    color: white;
}

.navbar li.active a.nav-link {
    color: #preset;

}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 210px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    border: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    color: #F63854;
    background: #f7f7f7;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
    background-image: url(../img/hero_area.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 957px;
    /*width: 1920px;*/
    width: 100%;
    position: relative;
    /*overflow:  hidden;*/
    padding: 180px 0 80px;
    margin: auto;

}

#hero-area .contents .head-title {
    color: #fff;
    font-size: 42px;
    font-family: 'Black';
    /*font-weight: 700;*/
    line-height: 60px;
    /*margin-bottom: 10px;*/
}

.head-title {
    /*margin-top: 50px;*/
    /*padding-top: 75px;*/
}

#hero-area .contents .header-button {
    margin-top: 60px;
    color: #fff;
}

.header-button img {
    height: 60px;
    width: 200px;
}

#hero-area .contents .header-button .btn {
    margin-right: 10px;
}

.sloder-img {
    background: #34363a;
}

/* Team Item */
.team-item:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.team-item {
    margin: 15px 0;
    border-radius: 0px;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    background: #fff;
}

.team-item .team-img {
    float: left;
    width: 200px;
    margin-right: 30px;
}

.team-item .contetn {
    padding: 15px 50px;
    height: 200px;
}

.team-item .social-icons {
    padding-top: 11px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.team-item .social-icons li a {
    letter-spacing: 0px;
    outline: 0 !important;
}

.team-item .social-icons li a i {
    font-size: 18px;
    display: block;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

/*.team-item .social-icons li .lni-facebook-filled {
  color: #3b5998;
}

.team-item .social-icons li .lni-twitter-filled {
  color: #00aced;
}

.team-item .social-icons li .lni-instagram-filled {
  color: #fb3958;
  }*/

  .team-item .info-text {
    margin-bottom: 10px;
}

.team-item .info-text h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}

.team-item .info-text h3 a {
    color: #333;
}

.team-item .info-text h3 a:hover {
    color: #F63854;
}

.team-item .info-text p {
    margin: 0;
    color: #888;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.testimonial {
    padding: 60px;
    position: relative;
    background-image: url(../img/testimonial_bg.svg);
    height: 1156.497px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px;
    border: 1px solid #f1f1f1;
}

.form-control:focus {
    border-color: #F63854;
    box-shadow: none;
    outline: none;
}

textarea {
    border-radius: 4px !important;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #ccc;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
}

.contact-form-area h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.contact-right-area {
    margin-left: 50px;
}

.contact-right-area .contact-title {
    margin-bottom: 20px;
}

.contact-right-area .contact-title h1 {
    font-size: 22px;
}

.contact-right {
    padding: 4px;
}

.contact-right .single-contact {
    margin: 30px 0px;
    padding: 3px 55px;
    position: relative;
    color: #abacae;
}

.contact-right .single-contact p {
    margin-bottom: 0px;
}

.contact-right .single-contact p a {
    color: #abacae;
}

.contact-right .contact-icon {
    background: #F63854;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
    left: 0;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
}

.contact-control {
    height: 80px;
}
.footer-link{
    word-wrap: break-word;
}
.footer-link a{
    font-size: 16px !important;
}

.h3 {
    float: right;
    font-size: 16px;
}

/*cta
*/
#cta {
    background: ;
}

/* Footer Area Start */
.footer-area {
    position: relative;
    padding: 30px 0px 0px;
    background: #000;
}

.footer-area {

    font-size: 18px;
    color: #808080;
    font-weight: 500;
    /*padding-bottom: 20px;*/
    letter-spacing: 0.5px;
    /*line-height: 30px;*/
}

.footer-titel {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    /*padding-bottom: 20px;*/
    letter-spacing: 0.5px;
    /*line-height: 30px;*/
}

.footer-area .footer-titel span {
    color: #ccc;
    font-weight: 400;
}

.footer-area .textwidget p {
    color: #808080;
}

.footer-area .footer-link li {
    margin-bottom: 10px;
}

.footer-area .footer-link li a {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.footer-area .footer-link li a:hover {
    color: #fff;
}

.footer-area .address li {
    margin-bottom: 20px;
}

.footer-area .address li a {
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.footer-area .address li a i {
    font-size: 22px;
    width: 32px;
    vertical-align: middle;
    height: 36px;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 5px;
    line-height: 32px;
}

.footer-area #subscribe-form {
    margin-top: 10px;
}

.footer-area #subscribe-form .form-group {
    position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 52px;
    border-radius: 0;
    background: transparent;
    color: #F63854;
}

#copyright .copyright-content {
    border-top: 1px solid #d5d4e9;
    padding: 15px 0;
    margin: 45px 0 0px;
}

#copyright p {
    line-height: 42px;
    color: #333;
    text-align: center;
    margin: 0;
}

#copyright p a {
    color: #F63854;
}

.social-icon a {
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon img {
    height: 30px;
    width: 30px;
}

.social-icon a:hover {
    /*color: #fff !important;*/
}

.svg-map-pg-logo:hover {
    animation-name: star;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.blog p{
    margin-top: 1px;
}
#blog{
    overflow: hidden;
}
.blog {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.08);
    /*background: #F63854;*/
    height: 653px;
    width: 1110px;
    margin: auto;
    margin-top: 70px;
    word-wrap: break-word;
}
.content-body-small-card p{
    font-family: 'Medium' !important;
    font-size: 16px !important;
    color:black !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 20px !important;
    /*line-height: 24px !important; */
}
p b{
    font-weight: 400 !important;
}
p span{
    font-family: 'Medium' !important;
    font-size: 16px !important;
    color:black !important;
}
.item-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 45% !important;
    margin: -47px 0;
}
.item-icon a{
    text-decoration: none !important;
}

.icon-color a:hover {
    color: #5163ED;
}

.blog-left {
    border-radius: 10px;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #fff;
}

.blog-right {
    width: 50%;
    height: 100%;
    float: right;
    color: #000;
}

.blog-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog-content {
    font-family: 'Medium';
    padding: 5px;
    display: -webkit-box!important;
    -webkit-line-clamp: 10;
    -moz-line-clamp: 10;
    -ms-line-clamp: 10;
    -o-line-clamp: 10;
    line-clamp:10;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 70%;
}

.blog-content h3 {
    padding: 40px 0 0 20px;
    /*padding-bottom: 50px;*/
    font-size: 24px;
    font-family: 'Medium';
    color: #000;
    text-align: left;

}
.author {
    float: left;
}
.post-meta-small-card {
    padding: 15px;
    margin-left: 20px;
}

.blog-content p {
    padding-left: 20px;
    */ padding-top: 0px;
    color: #000;
    text-align: left;
    color: gray;
    font-size: 16px;
    font-weight: 0px;
    line-height: 25px;
    /*overflow: hidden;*/
}

.blog-content a {
    background-color: #594FEA;
    float: right;
    margin-right: 50px;
    color: #fff;
    margin-top: 50px;
}

.blog-button {
    bottom: 20px;
}

.blog-edit-right {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

.blog-edit-left {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}
.readmore-btn-right{
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 50px;
    float: right;
    background-color: #5163ED;
}
.readmore-btn-left{
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 50px;
    float: left;
    background-color: #5163ED;
}
.post-meta-small-card {
    padding-top: 15px;
    color: #9EA0A4;
    width: 100%;
}
.more-posts {
    margin-top: 60px;
}
.blog-readmore {
    text-align: left;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.blog-readmore-main{
    margin-top:60px;
}

.blog-readmore-small {
    border-radius: 10px;
}

.blog-readmore-image {
    width: 100%;
}

.blog-readmore-content {
    padding: 40px;
    padding-top: 50px;
}

.post-meta {
    padding-top: 20px;
    color: #9EA0A4;
}

.author img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
}

.date {
    float: right;
    padding-top: 10px;
}

.name {
    padding-left: 10px;
}

.content-body {
    padding-top: 20px;
}

.content-body h5 {
    padding-bottom: 10px;
}

.content-footer {
    float: right;
    padding-bottom: 10px;
}

.circle-icon {
    border: none;
    background-color: #000;
    padding: 8px;

    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.date_main_responsive{
    padding-left: 215px;
}
.date_responsive{
    float: right;
    /*margin-left: 200px;*/
    padding-right: 20px;

}
.blog .col-md-12{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/*.row {
    padding-top: 40px;
    }*/

    .small-cards {
        padding: 10px;
        /*padding-top: 10px;*/
    }
    .content-heading-small-card{
        display: -webkit-box!important;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -o-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        height: 100px;
    }
    .content-body-small-card {
        padding-top: 30px;
        display: -webkit-box!important;
        -webkit-line-clamp: 12;
        -moz-line-clamp: 12;
        -ms-line-clamp: 12;
        -o-line-clamp: 12;
        line-clamp: 12;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        height: 335px

    }
    .text-center-blog a{
        text-align: center !important;
        margin-top: 20px;
        border-radius: 5px;
        color:#fff;
        background-color: #5163ED;
    }


.contact {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 15px auto;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.08);
    /*background: #F63854;*/
    /*height: 830px;*/
    width: 1110px;
    padding: 50px;
}

.form-control {
    margin-top: 15px;
    /*height: 80px;  */
    border-radius: 10px;
    font-family: 'Medium';
}

.contact input {
    height: 80px;
}

.contact button {
    margin-top: 15px;
    background-color: #594FEA;
    color: #fff;
    padding: 10px;
}
#portfolio{
    overflow: hidden;
}
.work-item {
    border-radius: 10px;
    margin: 15px auto;
    height: 308px;
    text-align: center;
    cursor: default;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 30px;
    color: #000;
    word-break: break-word;
}
.work-item img{
    object-fit:cover;
}

.text-block {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: #5B79EE;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    
   /* position: absolute;
    left: 0;
    right: 0;
    top: 69% !important;
    margin: -45px 0;
    opacity: 0;*/
}
.work-item:hover .text-block{
    opacity: 1;
}

.store-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.work-item .work-item-img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.work-item-store {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    font-size: 60px;
}

.work-item:hover .work-item-store {
    opacity: 1;
    filter: alpha(opacity=100);
}

.work-item:hover .work-item-img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    /*-webkit-filter: contrast(200%);
    filter: contrast(200%);*/
    /*-webkit-filter: blur(5px);
    filter: blur(5px);*/
}

.android-icon {
    width: 50%;
    /*height: 100%;*/
    float: left;
    position: absolute;
    text-align: center;
    font-size: 60px;
    padding-top: 40%;
}

.ios-icon {
    width: 50%;
    /*height:100%;*/
    float: right;
    text-align: center;
    font-size: 60px;
    padding-top: 40%;
}

.work-item .work-item-store {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.work-item a {
    color: #fff;
}

/*Slick SLider*/
.slider-item {
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    height: 315px;
    width: 615px important;
}

.slider {
    width: 100%;
    height: 100%;
    margin: 70% auto;
    float: right;
    margin-left: 30%;
}

.slick-slide {
    margin: 0px 50px;
    width: 100%;
    /*width: 500px !important;*/
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.testimonial-img-thumb img {
    border-radius: 50%;
    display: inline-block;
    width: inherit;

    position: relative;
    margin: 15px 15px 15px 0;
    float: left;
}

.testimonial-item {
    font-size: 14px;
    font-family: "Medium";
    color: #9EA0A4;
}

.testimonial-info h2 {
    padding-top: 7%;
    font-size: 15px;
    color: #000;
}

.testimonial-info h3 {
    font-size: 14px;
}

.testimonial-content p {
    padding-top: 10px;
    float: left;
}
.text-block h2{
    font-size:25px !important;
}

.work-item:hover .item-icon { 
    animation: item-icon-move 1s;
    animation-iteration-count: 1;   
}
@-webkit-keyframes item-icon-move {
  from {top;0}
  to {top: 45%;}
}
@keyframes item-icon-move {
  from {top:0%;}
  to {top:45%;}
}


.hovicon {
    display: inline-grid;
    font-size: 38px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
    padding-top: 13px;
}
.block {
    float: left;
    width: 25%;
    height: 150px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 1 */
 .hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
/* Effect 1a */
 .hovicon.effect-1.sub-a:hover {
    background: rgba(255, 255, 255, 1);
    color: #0056b3;
}
.hovicon.effect-1.sub-a:hover i {
    color: #0056b3;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
