/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .blog{
    width: 100%;
  }
  .blog-img{
    height: 653px;
  }
  

  .services-item .services-content h3 a {
    
    /*font-size: 14px;*/
  }
  .title-hl {
    font-size: 30px;
  }
  .why .content h3 {
    font-size: 30px;
  }
  .team-item .contetn {
    padding: 15px 20px;
  }


}

/* tablets */
@media (max-width: 991px) {
 /* .date_responsive {
    float: left !important;
    padding-left: 53px !important;
  }*/
 /* .blog-img{
    height: 653px;
  }*/
  .blog{
    width: 100%;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    /*font-size: 14px;*/
  }
  .services-item {
    margin-bottom: 20px;
  }
  #pricing-table .title h3 {
    font-size: 14px;
  }
   #hero-area {
    padding: 120px 0 80px;
  }
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
.blog-img{
    height: 653px;
  }
  .date_main_responsive {
    padding-left: 53px;
    float: left ;
  }
  .blog{
    width: 100%;
  }
  .work-item{
    height: 408px;
  }
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    /*font-size: 16px;*/
  }
  .bg-invxerse {
    background: #fff !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);*/
  }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0;
  }
  #about .sec-title h3 {
    font-size: 30px;
    line-height: 42px;
  }
  .title-hl {
    font-size: 30px;
  }
  .text-wrapper {
    padding: 60px 30px;
  }
  .why .content h3 {
    font-size: 30px;
  }
  #pricing-table .title h3 {
    font-size: 14px;
  }
  .skill-area img {
    margin-bottom: 30px;
  }
  #blog .blog-item-wrapper {
    margin-bottom: 30px;
  }
  .experience h4 {
    font-size: 18px;
  }
  .testimonial-item {
    padding: 10px;
  }
  .testimonial-item .content h2 {
    font-size: 15px;
  }
  .slider-center img {
    padding: 40px 60px;
  }
  .subscribes h4 {
    font-size: 30px;
  }
  .footer-area .footer-titel {
    margin-top: 30px;
  }
  .contact-right-area {
    margin-top: 0px;
    margin-left: 0px;
  }
  .contact{
    width: 100%;
    height:100%;
  }
  
}

/* mobile or only mobile */
@media (max-width: 767px) {

.services-item {
  width: 100%;
}
.content-body-small-card{
  height: 332px;
}

.blog-readmore-small{
  margin-top: 50px;
}
.blog-readmore-small img{
  width: 100%;
}

.blog-right{
    width: 100%;
  }
.blog-left{
    width: 100%;
  }
  .blog{
    height: 1150px;
  }

  .section-padding {
    padding: 60px 0;
  }
  .section-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .navbar-expand-md .navbar-brand,
  .navbar-expand-md .navbar-toggler {
    margin: 0px 15px;
  }
  .bg-inverse {
    /*background: #6035a0    !important;*/
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0;
  }
  .navbar-brand img {
    margin: 5px 0;
  }
  .top-nav-collapse .navbar-brand img {
    margin-top: 10px;
  }
  .intro-img {
    margin-top: 20px;
  }
  #hero-area .img-thumb {
    display: none;
  }
  #hero-area .contents .head-title {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  #hero-area .contents p {
    font-size: 14px;
  }
  #hero-area {
    padding: 120px 0 80px;
  }
  #hero-area .contents .btn {
    margin: 5px 10px 10px 0px;
  }
  .text-wrapper {
    padding: 60px 15px;
  }
  #about .sec-title h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .about-area img {
    margin-top: 30px;
  }
  .feature-thumb {
    padding: 10px;
  }
  .testimonial-item {
    padding: 0;
  }
  .client-item-wrapper img {
    width: 50%;
  }
  #cta h4 {
    font-size: 22px;
  }
  #cta .text-right {
    float: left !important;
  }
  #cta .btn {
    float: left;
  }
  .team-item .team-img {
    width: 100%;
    float: none;
  }
  .team-item .contetn {
    padding: 15px 30px;
  }
  .footer-right-contact .single-contact {
    margin: 10px 7px;
    padding: 3px 45px;
  }
  .footer-area .footer-titel {
    margin-top: 30px;
  }
  .contact-right-area {
    margin: 20px 0;
  }
  .contact-form-area h2 {
    font-size: 14px;
  }
  .copyright .float-right {
    float: left !important;
  }
  .map {
    margin-top: 20px;
  }
  #cta {
    padding: 20px 0;
  }
  .cta-text {
    margin-bottom: 30px;
  }
  .contact{
    width: 100%;
    height:100%;
  }
  .testimonial-item{
    width: 100%;
    /*height: 100%;  */

  }
  .carousel-inner{
      margin-top: 75%;
    }
}
@media (max-width: 700px) {

.blog-readmore-small{
  margin-top: 50px;
}
.blog-readmore-small img{
  width: 100%;
}

.blog-right{
    width: 100%;
  }
.blog-left{
    width: 100%;
  }
  .blog{
   
    height: 1350px;
  }
  .container{
    padding-left: 0px;
  }
}
@media (max-width: 450px) {

.blog-readmore-small{
  margin-top: 50px;
}
.blog-readmore-small img{
  width: 100%;
}

.blog-right{
    width: 100%;
  }
.blog-left{
    width: 100%;
  }
  .blog{
    height: 1150px;
  }
  .container{
    padding-left: 0px;
  }
  .date_responsive{
    float: none;
    margin-left: 60px;
  }
  .date{
    float: none;
  }
  .author{
    float: none;
  }
}

